@model FinanceControl.Core.ViewModels.FinanceListagemViewModel

<div id="resumoFinanceiro">
    @Html.Partial("~/Views/Shared/Components/_ResumoFinanceiro.cshtml", Model)
</div>

<div id="areaGrid">
    @Html.Partial("~/Views/Shared/Components/_Grid.cshtml", Model)
</div>
